# Python bytecode
*.py[doc]

# OS X
.DS_Store

# SQLite Database
*.sqlite3

# Bower dependencies
bower_components

# Node dependencies
node_modules

# The static directory
static

# Keepfile
!.gitkeep
