{% extends 'base.html' %}
{% block title %}Django Socket.IO {% endblock title %}
{% block page_title %}Chat{% endblock page_title %}
{% block content %}
<p class="lead">Chat with your friends over Django and NodeJS!</p>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Chat Room</h3>
  </div>
  <div id="chat-panel" class="panel-body fixed-panel">
    <dl class="dl-horizontal" id="messages">
    </dl>
  </div>
  <div class="panel-footer">
    <form id="message-form" action="">
      <div class="form-group">
        <input type="text" class="form-control" id="message-input" autocomplete="off" />
      </div>
    </form>
  </div>
</div>
<div id="create-user" class="panel panel-info">
  <div class="panel-heading">
    <h4 class="panel-title">Nickname</h3>
  </div>
  <div class="panel-body">
    <form id="user-info">
      <div class="form-group">
        <input type="text" class="form-control" id="nickname" placeholder="Enter your nickname">
      </div>
    </form>
  </div>
</div>
{% endblock content %}
{% block extra_js %}
<script src="http://localhost:3000/socket.io/socket.io.js"></script>
{% load staticfiles pipeline %}
{% javascript 'sockets' %}
{% endblock extra_js %}
