{% extends 'base.html' %}
{% block title %}Django Socket.IO {% endblock title %}
{% block page_title %}Chat{% endblock page_title %}
{% block content %}
<p class="lead">Chat with your friends over Django and NodeJS!</p>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Messages</h3>
  </div>
  <div id="messages-panel" class="panel-body fixed-panel">
    <dl class="dl-horizontal" id="messages">
    </dl>
  </div>
  <div class="panel-footer">
    <form action="">
      <div class="form-group">
        <input type="text" class="form-control" id="m" autocomplete="off" />
      </div>
    </form>
  </div>
</div>
{% endblock content %}
{% block extra_js %}
<script src="http://localhost:3000/socket.io/socket.io.js"></script>
<script>
  $(function() {
    // wire in to the socket
    var socket = io('http://localhost:3000');

    // handle some events
    socket.on('connect', function() {
      console.log('Connected.');
    });

    socket.on('disconnect', function() {
      console.log('Disconnected.');
    });

    socket.on('error', function(err) {
      console.log('Something went wrong!');
      console.log('Message: ' + err.message);
    });

    socket.on('reconnect', function(n) {
      console.log('Successfully reconnected after ' + n + ' tries.');
    });

    socket.on('reconnect_attempt', function() {
      console.log('Trying to reconnect...');
    });

    socket.on('reconnecting', function(n) {
      console.log('Reconnection attempt number ' + n + '...');
    });

    socket.on('reconnect_error', function(err) {
      console.log('Could not connect!');
      console.log('Message: ' + err.message);
    });
  });
</script>
{% endblock extra_js %}
